.pannel {
    background-color: #1e1e1e;
    position: absolute;
    left: 0%;
    top: 0%;
    margin: 0%;
    height: 100%;
    width: 80px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}

.myChannel {
    background-color: rgb(55, 54, 54);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.myChannel:hover {
    border-radius: 10%;
    transition: 0.5s;
    border: none;
}

.myChannel:hover + .hover-text-ForAvatar {
    display: block; 
}


.hover-text-ForAvatar {
    display: none; 
    position: absolute;
    top: 40%;
    left: 110%;
    transform: translateY(-50%);  
    background-color: rgb(55, 54, 54);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap; 
    z-index: 3;
}

.otherChannels {
    background-color: rgb(55, 54, 54);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.otherChannels:hover {
    border-radius: 10%;
    transition: 0.5s;
    border: none;
}

.channel-container {
    position: relative;
}

.hover-text {
    display: none; 
    position: absolute;
    top: 50%;
    left: 110%;
    transform: translateY(-50%);  
    background-color: rgb(55, 54, 54);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap; 
    z-index: 3;
}


.otherChannels:hover + .hover-text {
    display: block; 
}

.hover-text-ForButton {
    display: none; 
    position: absolute;
    top: 39%;
    left: 97%;
    transform: translateY(-50%);  
    background-color: rgb(55, 54, 54);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap; 
    z-index: 3;
}

.addChannelButton {
    background-color: rgb(55, 54, 54);
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.addChannelButton:hover {
    border-radius: 10%;
    transition: 0.5s;
    border: none;
}

.addChannelButton:hover + .hover-text-ForButton {
    display: block;
}

.addChannelButton h1 {
    color: rgb(26, 147, 26);
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0px;
}

p {
    background-color: rgb(55, 54, 54);
    border-radius: 25px;
    display: flex;           
    align-items: center;     
    justify-content: center;   
    width: 90%;
    height: 3%;
    margin: 10px auto;         
}

.model-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
    justify-content: center;
    align-items: center;
}

.model-content {
    background-color: rgb(55, 54, 54);
    max-width: 60%;
    height: auto;
    border-radius: 5px;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    overflow-y: visible;
}

.model-content h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.model-content input {
    width: 45%;
    height: 10%;
    font-size: 22px;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #2f2f2f;
    color: white;
}