.title {
    color: white;
    font-size: 25px;
    text-align: center;
    position: relative;
    top: 0px;
}

.subTitle {
    color: white;
    font-size: 15px;
    text-align: center;
    position: relative;
    top: -2%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.serversTitle button{
    background-color: rgb(55, 54, 54);
    border: gray solid 2px;
    width: 95%;
    margin-top: 2%;
    left: 2%;
}
