.button6 {
    background-color: #3a3a3a;
    position: absolute;
    left: 314px;
    top: 7%;
    margin: 0%;
    height: 93%;
    width: 79.37%;
    border: 2px solid black;
}

@media (max-width: 800px) {
    .button6 {
        width: 453px;
    } 
}