.button4 {
    background-color: #1e1e1e;
    position: absolute;
    left: 80px; 
    top: 93%; 
    margin: 0;
    height: 7%;
    width: 235px; 
    border: 2px solid black;
}

.flexabillty2 {
    position: relative;
    display: flex;
    align-items: center;
    padding: 4px 8px; 
    border-radius: 0;
    background-color: transparent;
    border: none;
}


.flexabillty2:hover {
    background-color: rgb(75, 72, 72);
    border: transparent;
}

.settingButton {
    position: relative;
    display: flex;
    width: 160px;
    height: 45px;
    margin: 0px 0px 0px -10px;
}